---
import Footer from "./Footer.astro";
import Nav from "./Nav.astro";
import { SEO, SEOProps } from "astro-seo";
import "./main.css";
import { deployedLink } from "../Const";

const {
	title = "Streetcat Identifier",
	description = "Identify the cats on Hello Street Cat livestreams",
	imageSrc = "icon-64.webp",
	imageCard,
	homepage = false
} = Astro.props;

const image = `${deployedLink}/${imageSrc}`;
const openGraph: SEOProps["openGraph"] | undefined = {
	basic: { title: title, image: image, type: "website" },
	image: imageCard ? { url: image } : undefined,
	optional: { description: description },
};
const twitter: SEOProps["twitter"] | undefined = imageCard
	? { card: "summary_large_image" }
	: undefined;

	

const baseUrl = Astro.site ?? Astro.url;
const defaultCanonicalUrl = new URL(
    Astro.url.pathname + Astro.url.search,
    baseUrl,
);
const canonicalUrl = defaultCanonicalUrl.href.replace(/index.html|\.html$/, ""); 
---

<!doctype html>
<html lang="en">
	<head>
		<SEO
			title={title}
			description={description}
			openGraph={openGraph}
			twitter={twitter}
			canonical={canonicalUrl}
		/>
		<base href="/" />
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/icon-48.webp" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="google-site-verification"
			content="mQIZHJTVOWoWfgQva3TVVc2KbAl37RGW8hXK5yM0ZKk"
		/>
		<link rel="manifest" href="manifest.json" />
		{homepage && <script is:inline type="application/ld+json">
			{
			"@context": "https://schema.org",
			"@type": "WebSite",
			"name": "Streetcat Identifier",
			"alternateName": ["Street Cat Identifier", "Streetcat", "Street Cat"],
			"url": "https://streetcat.pages.dev/"
			}
		</script>}
	</head>

	<body>
		<div class="app">
			<Nav />
			<div class="main">
				<slot />
			</div>
			<Footer />
		</div>
	</body>
</html>
